/* Adjustments for smaller screen sizes (MOBILE) */

@media screen and (max-width: 49.99em) {


    h1, h2, h3, h4 {
        font-family:"Prociono";
        font-size: 30pt;
    }
/* --------------- Header configuration --------------- */

    header {
        top:0%;
        left:0%;
        background-color:#2D3F66;
        color: #BAC7E6;
        text-align:center;
        position:fixed;
        z-index: 999;
        width:100%;
        /*Header config for MOBILE*/
    }

    #logo-desktop {
        display:none;
        /*Disable desktop mode logo design for mobile users*/
    }

/* --------------- Navigation (MOBILE) --------------- */

    nav {
        transform:scale(1,0);
        transform-origin:top;
        transition: transform 400ms linear;
        background:#2D3F66;
        width:100%;
    }

    .navbar {
        background:#2D3F66;
        position: absolute;
        text-align:left;
        top:100%;
        left:0;
    }

    .navbar ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .navbar li {
        margin-botton: 1em;
        margin-left: 1em;
        padding:1em;
    }

    .navbar-links a {
        opacity:0;
        transition: opacity 100ms linear;
        color: #BAC7E6;
        text-decoration:none;
        display:inline-block;
        border-radius:5px;
        padding:0.25em 1.5em;
    }

    .nav-toggle:checked ~ nav {
        transform:scale(1,1);

    }

    .nav-toggle:checked ~ nav a {
        opacity:1;
        transition: opacity 250ms linear 450ms;
    }

    .nav-toggle {
        display:none;
    }

    .nav-toggle-label {
        position:absolute;
        top:0;
        left:0;
        margin-left:1em;
        height:100%;
        display:flex;
        align-items:center;
    }

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        background: white;
        height: 2px;
        width:2em;
        border-radius: 2px;
        position:relative;
    }

    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: '';
        position:absolute;
    }

    .nav-toggle-label span::before {
        bottom:7px;
    }

    .nav-toggle-label span::after {
        top: 7px;
    }

/* --------------- Logo --------------- */

    .logo {
        display:flex;
        flex-direction:row;
        justify-content:center;
        padding-top:1.5vw;
    }

    .logotitle-mobile {
        font-size:2em;
        margin:0;
        margin-left:0.25em;
        margin-bottom:0.5em;
    }

    .logo-img {
        height:2.5em;
        max-width:4em;
        box-shadow:0.25em 0.25em #e6d8ba;
        min-width: 20px;
        min-height: 20px;
    }

/* --------------- Hero and Bio (MOBILE) --------------- */

    main {
        padding-top:7vw;
    }

    #hero {
        box-shadow:none;
        margin-top:20px;
    }

    #hero img {
        margin-top:10px;
        width: 250px;
    }

    #data {
        /* "data" is section containing bio information*/
        display:block;
        align-items:center;
        justify-content:none;
        border: 2px solid #2D3F66;
        box-shadow: none;
        margin-top:2vw;
    }

    .extrabio {
        opacity:1;
        display:contents
    }

    .biobutton {
        display:none;
    }
    
    .biobuttonlabel {
        display:none;
    }

/* --------------- Gallery (MOBILE) --------------- */

    #gallery h2:before {
        display:none;
        /* Hides horizontal line element for mobile users */
    }

    #galhead p {
        display:none;
        /* Hides instruction to hover over gallery images for mobile users */
    }

    figure {
        display:flex;
        flex-direction:column;
    }

    #gallery img {
        box-shadow:none;
        margin-bottom:none;
        width:100%;
        height:100%;
    }

    #fc {
        display:flex;
        justify-content:center;
        align-items:center;
        font-size: 1.5em;
    }

/* --------------- Blog (MOBILE) --------------- */

    #lipsum {
        border: 2px solid #2D3F66;
        box-shadow:none;
        margin-bottom: 2vw;
    }

    #lipsum h2 {
        text-align: center;
    }

    #lipsum p {
        padding: 1vw;
        max-width:100%;
        columns: 40rem;
    }

    #code {
        max-width:none;
    }

    #blogh p {
        margin-top:-4%;
        margin-bottom:3%;
    }

    #blogh h5 {
        margin-bottom:2%;
        padding-left:1%;
    }

    #firstp::first-letter {
        color:#7B88A6;
        background-color:#151E30;
        float:left;
        border:10px double #2D3F66;
        border-radius:10px;
        padding:2vw;
        font-size:500%;
        margin-right:1vw;
        text-shadow:4px 4px #2D3F66;
    }

    #vid {
        border: 2px solid #2D3F66;
        box-shadow:none;
    }

/* --------------- Contact Form (MOBILE) --------------- */

    #formouter {
        border: 2px solid #2D3F66;
        margin-top:1em;
        margin-bottom:1em;
        box-shadow:none;
        /*Contact form styling adjustment for MOBILE*/
    }
}

@media screen and (min-width:800px) {
    #hero {
        margin-top:4vw;
    }
    main {
        padding-top:5vw;
    }
}
@media screen and (min-width:1100px) {
    main {
        padding-top:2vw;
    }
}