/*Style configuration for desktop and basic defaults*/
body {
    font-family:"IBM Plex Mono";
    /*font-weight: 600;*/
    background-color:#BAC7E6;
    color: #2D3F66;
}

h1, h2, h3, h4 {
    font-family:"Prociono";
    font-size: 3vw;
}

h5 {
    font-family:"Prociono";
    font-size: 20pt;
}

h6 {
    font-family:"Prociono";
    font-size: 15pt;
}

.logo-img {
    min-width: 40px;
    min-height: 40px;
}


/*Hero and Footer*/

#hero, footer {
    color: #151E30;
    background-color: #7B88A6;
    text-align:center;
    border: 2px solid #2D3F66;
    box-shadow:10px 10px #2D3F66;
}

#hero img {
    margin-top:10px;
    width: 20vw;
    max-width:100%;
    background-color:#BAC7E6;
    border: 2px solid #2D3F66;
}

#herop {
    display:flex;
    flex-direction:column;
}

footer {
    display:flex;
    flex-direction:column;
}

footer a {
    color:black;
}

/*Bio+Hobbies Block*/

#data {
    /*display:flex;
    align-items:flex-start;*/
    display: grid;
    grid-template-areas: "a a";
    gap: 3vw;
    grid-auto-columns: auto;
    border: 2px solid #2D3F66;
    box-shadow:10px 10px #2D3F66;
    margin-top:2vw;
    padding:2vw;
}

/*Bio*/

#bio {
    display:flex;
    flex-direction:column;
    align-items:center;
}

#bio h2 {
    margin:.5ex;
}

#bio1 #firstline {
    font-style:italic;
    font-weight:bold;
}

#bio1 #secline {
    text-align:right;
    font-weight:bold;
}


#bio1 span {
    display:block;
}

.biosec {
    text-align:center;
}

.biobutton {
    display:none;
}

.biobuttonlabel {
    border:2px solid #2D3F66;
    background-color:#7B88A6;
    color:#BAC7E6;
    border-radius:5px;
    padding:1ex;
}

.extrabio {
    transform:scale(1,0);
    transform-origin:top;
    opacity:0;
    overflow:hidden;
    height:0px;
    transition-timing-function: ease-in-out;
    transition-property: height, transform;
    transition-duration: 10ms, 500ms;
    transition-delay: 0ms, 10ms;
}

.extrabio p {
    color:#2D3F66;
}

.biobutton:checked ~ .extrabio {
    transform:scale(1,1);
    transition-duration:1s;
    opacity: 1;
    height:inherit;
    transition-timing-function: ease-in-out;
    transition-property: height, transform;
    transition-duration: 10ms, 500ms;
    transition-delay: 600ms, 50ms;
}

/*Hobbies list*/

#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.biosec2 {
    text-align:left;
}

#hobbies ul li:nth-child(3n-1) {
    font-weight:bold;

}
#hobbies ul li:nth-child(3n) {
    font-style:oblique;

}

#hobbies h2 {
    margin:.5ex;
}

/*Gallery*/

#gallery h2:before {
    /*Horizontal line element which divides gallery from above content*/
    content: " ";
    border: 1.5px solid #2D3F66;
    margin-top: 2%;
    margin-bottom: 15px;
    display: block;
    max-width: 100%;
}

#galhead {
    text-align:center;
}

#galhead p {
    margin-top:-2%;
    margin-bottom:3%;
}

#gallery img {
    transition-duration:1s;
    width:60%;
    height:60%;
    /*max-width:100%;*/
    border: 2px solid #7B88A6;
    box-shadow: 10px 10px #7B88A6;
    margin-bottom:10px;
}

#gallery img:hover {
    transition-duration:1s;
    transition-delay:0s;
    transition-timing-function:linear;
    width:90%;
    height:90%;
}

#gallery figure {
    text-align:center;
}



/*Article*/

#blogh {
    color:#BAC7E6;
    background-color:#2D3F66;
    padding-left:2%;
}

#blogh h5 {
    margin-bottom:3.5%;
}

#blogh p {
    margin-top:-4%;
    margin-bottom:3%;
}

#code {
    padding:2%;
    color:#BAC7E6;
    background-color:#000;
    border: 2px solid #2D3F66;
    max-width:50%;
    font-size:12pt;
    text-align:left;
}

#code h6 {
    margin-top:-1%;
    margin-bottom:1%;
    font-family:monospace;
    font-size:13pt;
    text-align:center;
    background-color:#2D3F66;
    background-size:auto;
}

#code span {
    display:flex;
    flex-direction: column;
    font-size:large;
}

#lipsum {
    border: 2px solid #2D3F66;
    box-shadow:10px 10px #2D3F66;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lipsum h2:after {
    /*Horizontal line element which divides Blog h2 from below content*/
    content: " ";
    border: 1.75px solid #2D3F66;
    margin-top: 2%;
    margin-bottom: 15px;
    display: block;
    max-width: 100%;
}

#lipsum p {
    max-width:75%;
    columns: 70rem;
    justify-content:space-evenly;
}

#firstp::first-letter {
    color:#7B88A6;
    background-color:#151E30;
    float:left;
    border:10px double #2D3F66;
    border-radius:10px;
    padding:0.2ex;
    font-size:500%;
    margin-right:.5ex;
    text-shadow:4px 4px #2D3F66;
}

/*Video*/

#vid {
    border: 2px solid #2D3F66;
    box-shadow:10px 10px #2D3F66;
}

#vid h2 {
    text-align:center;
}


iframe {
    display:block;
    border: 2px solid #151E30;
    margin:auto;
    max-width:98%;
}

.vidcap {
    text-align:center;
    margin-top:1%;
    margin-bottom:3%;
}

/*Contact Form*/

#contact h2 {
    text-align:center;
}

#formElements {
    display:grid;
    row-gap:.5em;
}

#contact {
    padding: 1rem;
    max-width:600px;
    margin: 2rem auto;
}

fieldset {
    border: 2px solid #2D3F66;
    margin-top:1em;
    margin-bottom:1em;
}

#formouter {
    border: 2px solid #2D3F66;
    margin-top:1em;
    margin-bottom:1em;
    box-shadow:10px 10px #2D3F66;
}

legend {
    background-color:#2D3F66;
    color:#BAC7E6;
    padding:0.5rem;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding:.5em;
    font-size:1rem;
}

#contact ul {
    list-style:none;
    padding:0px;
}

#contact li {
    margin:1rem;
}

#contact button {
    background-color:#2D3F66;
    color:#BAC7E6;
    border:2px solid #151E30;
    max-width:400px;
    width:50%;
    justify-self: center;
}
