body {
    font-family:"IBM Plex Mono";
    /*font-weight: 600;*/
    background-color:#BAC7E6;
    color: #2D3F66;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Prociono";
    font-size: 30pt;
}

/*Hero*/

#hero, footer {
    color: #151E30;
    background-color: #7B88A6;
    text-align:center;
    padding:10px;
    border: 2px solid #2D3F66;
    box-shadow:10px 10px #2D3F66;
}

#hero img {
    width: 150px;
    max-width:100%;
}

.logo-img {
    min-width: 40px;
    min-height: 40px;
}
/*Bio+Hobbies Block*/

#data {
    display:flex;
    align-items:flex-start;
    justify-content:space-evenly;
    border: 2px solid #2D3F66;
    box-shadow:10px 10px #2D3F66;
    margin-top:2vw;
}

/*Bio*/

#bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bio h2 {
    margin:.5ex;
}

#bio1 #firstline {
    font-style:italic;
}

#bio1 span {
    display:block;
}

/*Hobbies list*/

#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies ul li:nth-child(3n-1) {
    font-weight:bold;

}
#hobbies ul li:nth-child(3n) {
    font-style:oblique;

}

#hobbies h2 {
    margin:.5ex;
}

/*Gallery*/

#gallery h2:before {
    /*Horizontal line element which divides gallery from above content*/
    content: " ";
    border: 1.5px solid #2D3F66;
    margin-top: 2%;
    margin-bottom: 15px;
    display: block;
    max-width: 100%;
}

.galtitle {
    text-align:center;
}

#gallery img {
    max-width:100%;
}

#gallery figure {
    text-align:center;
}

/*Article*/
#lipsum {
    border: 2px solid #2D3F66;
    box-shadow:10px 10px #2D3F66;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lipsum h2:after {
    /*Horizontal line element which divides Blog h2 from below content*/
    content: " ";
    border: 1.75px solid #2D3F66;
    margin-top: 2%;
    margin-bottom: 15px;
    display: block;
    max-width: 100%;
}

#lipsum p {
    columns: 70rem;
    justify-content:space-evenly;
}

#firstp::first-letter {
    color:#7B88A6;
    background-color:#151E30;
    float:left;
    border:10px double #2D3F66;
    border-radius:10px;
    padding:0.2ex;
    font-size:500%;
    margin-right:.5ex;
    text-shadow:4px 4px #2D3F66;
}

/*Video*/

iframe {
    display:block;
    border: 2px solid #151E30;
    margin:auto;
    max-width:98%;
}

.vidcap {
    text-align:center;
}

/*Contact Form*/

#formElements {
    display:grid;
    row-gap:.5em;
}

#contact {
    padding: 1rem;
    max-width:600px;
    margin: 2rem auto;
}

fieldset {
    border: 2px solid #2D3F66;
    margin-top:1em;
    margin-bottom:1em;
}

#formouter {
    border: 2px solid #2D3F66;
    margin-top:1em;
    margin-bottom:1em;
    box-shadow:10px 10px #2D3F66;
}

legend {
    background-color:#2D3F66;
    color:#BAC7E6;
    padding:0.5rem;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding:.5em;
    font-size:1rem;
}

#contact ul {
    list-style:none;
    padding:0px;
}

#contact li {
    margin:1rem;
}

#contact button {
    background-color:#2D3F66;
    color:#BAC7E6;
    border:2px solid #151E30;
    max-width:400px;
    width:50%;
    justify-self: center;
}

/* Adjustments for smaller screen sizes */

@media screen and (max-width: 45em) {

    figure {
        display:grid;
        grid-template-columns: 2fr 1fr;
    }

    #fc {
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
    }

    #hero {
        box-shadow:none;
    }


    .logo-img {
        min-width: 20px;
        min-height: 20px;
    }

    #data {
        display:block;
        align-items:center;
        justify-content:none;
        border: 2px solid #2D3F66;
        box-shadow: none;
        margin-top:2vw;
    }

    #lipsum {
        border: 2px solid #2D3F66;
        box-shadow:none;
        margin-bottom: 2vw;
    }

    #lipsum h2 {
        text-align: center;
    }

    #lipsum p {
        padding: 1vw;
        max-width:100%;
        columns: 40rem;
    }

    #firstp::first-letter {
        color:#7B88A6;
        background-color:#151E30;
        float:left;
        border:10px double #2D3F66;
        border-radius:10px;
        padding:2vw;
        font-size:500%;
        margin-right:1vw;
        text-shadow:4px 4px #2D3F66;
    }

    /*Contact form styling adjustment*/

    #formouter {
        border: 2px solid #2D3F66;
        margin-top:1em;
        margin-bottom:1em;
        box-shadow:none;
    }
}

/* Adjustments for larger screen sizes */

@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
     }

     hr {
        display: none;
     }

     #gallery h2 {
        grid-column: 1/-1;

     }
     figure {
        display: block;
     }

     figure img {
        max-height:70%;
     }
     #vid figcaption {
        justify-content: left;
     }
     
}